.analogClock {
    width: 200px;
    height: 200px;
    left: 45%;
    position: relative;
}

.hands {
    position: absolute;
    left: 50%;
    width: 90px;
    height: 70px;
    top: 30px;
    transform-origin: bottom left; 
}

.hourHand {
    width: 90px;
    height: 60px;
    top: 40px;
    border-left:solid 2px #000;
}

.minuteHand {
    border-left:solid 1px #0000cc;
}

.secondHand {
    border-left:solid 1px green;
}

.digitalClock {
    text-align: center;
    font-size: 300px;
}